[2022-09-21 18:48] tlakollo commented on #2474
Closed via https://github.com/dotnet/linker/pull/2499

[2022-09-21 18:48] #2474 closed

[2022-09-21 20:01] jkotas commented on #2139
That's why we discourage major framework version roll forward without recompile.

[2022-09-21 23:50] tlakollo commented on #2103
Reopening this discussion now that some of the linker stuff has been solved and NativeAOT already implemented some of the XML support.

Currently, we have some inconsistent behavior when accessing members via the xml descriptor. In Linker if we keep a field via a descriptor and the class is annotated with Requires we would generate a warning. Also, this issue still holds up, when referencing a met

[2022-09-22 05:10] MichalStrehovsky commented on #2103
It feels like we should have the same answers to all of these:

* RUC method is preserved because of DynamicDependency
* RUC method is preserved because of a descriptor
* RUC method is preserved because the assembly had a copy/copyused action specified on the command line

If we warn, we should warn in all. If we don't warn, we shouldn't warn for any. They all basically say that something not visi

[2022-09-23 11:50] vitek-karas commented on #1868
@MichalStrehovsky didn't we take a different approach by now? Linker (and especially NativeAOT) clearly differentiates between methods accessed via reflection and those which are not access via reflection. The above optimization could be done on those considered not accessed via reflection.

That said such optimization it pretty difficult to implement - it requires global analysis with probably mu

[2022-09-23 11:55] vitek-karas commented on #1872
I don't see much value in doing this - it could have additional potential breaking impact (see @MichalStrehovsky comment) and the size saving seem rather small (at best one attribute instance per assembly).

[2022-09-23 11:55] #1872 closed

[2022-09-23 12:01] vitek-karas commented on #1873
I would prefer a simple and reliable solution. So if we can't figure it out for sure, issue a warning (just like we do elsewhere). If it's absolutely necessary the warning can be fixed via `DynamicDependency` and suppression, but it should mention the ability to simply disable rich debugging support in trimmed apps - which is probably the preferred approach. Or alternatively usage of DebuggerTypeP

[2022-09-23 13:22] marek-safar opened #3046 "Analyzer fails with System.InvalidOperationException"
DynamicallyAccessedMembersAnalyzer fails with

[code]

detailed exception like

[code]

when encountering ref fields access for example this one https://github.com/dotnet/runtime/blob/4cf2e3bb18162d750e7a128bb805c49c9fd52612/src/libraries/System.Private.CoreLib/src/System/Threading/Overlapped.cs#L46

[2022-09-23 16:00] jkurdek opened #3047 "Analyzer produces incomplete set of warnings for conditional control flow with arrays"
[code]
Test comes from [ArrayDataFlow.cs](https://github.com/dotnet/linker/blob/main/test/Mono.Linker.Tests.Cases/DataFlow/ArrayDataFlow.cs)

The multi value at array's index 0 should contain two values after the merge, one coming from the `if` branch, and the other resulting from assigning the value at unknown index in the `else` branch. Thus 2 warnings should be produced.

The analyzer only prod

[2022-09-23 18:46] vitek-karas commented on #3046
It fails here: https://github.com/dotnet/linker/blob/9503e0b2e184bbd64a7e1a2383584c370d70031a/src/ILLink.RoslynAnalyzer/DataFlow/CapturedReferenceValue.cs#L55

The reason is code like:
[code]

[2022-09-25 23:28] MichalStrehovsky commented on #1868
Yes, we marked all of reflection that gets a MethodBase from a stackwalk as RUC: https://github.com/dotnet/runtime/pull/59851. This allows us to optimize these methods in any way we want.

[2022-09-25 23:29] MichalStrehovsky commented on #1868
We might want to tweak the RequiredUnreferencedCode message if we do more than this - `Metadata for the method might be incomplete or removed` doesn't cover "Code could be removed".

[2022-09-26 10:46] kant2002 commented on #2482
I'm curious on what changed after some time passed and given that things improving overall. Since this issue affects at least 4 important codebases like ASP.NET Core, EF Core, F# and M.E.Logging

[2022-09-26 14:29] kant2002 commented on #2482
thanks. Really just want to understand better if there something which I miss (very easy), and which improve things here.

[2022-09-26 18:05] tlakollo commented on #2559
Intrinsics are now enabled and working, closing this issue

[2022-09-28 17:35] jtschuster commented on #2978
Simple benchmarks to run linker on a Hello world app are here: https://github.com/dotnet/performance/pull/2581. It's currently blocked by an issue with the SDK looking for an unreleased version of .net6 libraries (https://github.com/dotnet/sdk/issues/27888).

[2022-09-29 22:06] tlakollo commented on #2103
After a discussion with several members of the team, we have come to the conclusion that having warnings generated via descriptor or an assembly that had copy/copyused action brings not that much value, and if those warnings happen to be suppressed given that there is no origin member, they have to suppress the warning ID which can lead to breaking the app as it develops in the future. In the case

[2022-09-29 22:06] #2103 closed

[2022-10-03 17:00] sbomer opened #3056 "Add option to create self-contained trimming repro"
We often get issues like https://github.com/dotnet/runtime/issues/75802 which are hard to reproduce without a very specific build setup. It would be helpful if we had an officially supported option that would create a self-contained repro (with all input assemblies and the linker commandn-line options) that can then be shared easily.

@vitek-karas I know you have created a tool like this - what wo

[2022-10-03 17:07] vitek-karas commented on #3056
I don't think my tool should be the final solution. Better solution would be to make this part of the product. ilc already has something like this. Basically a new command line parameter (which specifies a path) which would:
* Copy all input files
* Rewrite all command line options as relative to the target directory and produce a new .rsp file there

The goal would be to get the target directory

[2022-10-04 02:07] MichalStrehovsky commented on #3056
Instead of building something completely from scratch, can we reuse the logic from crossgen2/ilc/ilverify here:.

https://github.com/dotnet/runtime/blob/ad7f31dbc7150ca3e9a5a3e8707550f96b193acc/src/coreclr/tools/Common/CommandLineHelpers.cs#L110

It could potentially become a shared file once illink moves to the runtime repo. The scheme is pretty similar.

It newly depends on System.CommandLine be

[2022-10-04 19:35] perlun opened #3058 "TrimMode=partial seems broken with PublishReadyToRun=true on .NET 7 RC1"

[2022-10-04 20:49] vitek-karas commented on #3056
Yeah - I've ran into this myself in the past as well. The repro tool could copy the custom steps as well, but if those have dependencies... well still doable but gets more tricky.
But if the custom steps take file paths as custom parameters, we would have to either have an extension point for the custom step to describe this somehow, or hardcode this into the tool about the custom steps we know ab

[2022-10-04 20:50] vitek-karas commented on #3056
Overall I think this is still worth doing - and honestly I would not be against hardcoding knowledge about Xamarin and whatever MAUI or Blazor has into it. The size of linker itself is not a consideration. And this is diagnosability, which is basically always a best effort.

[2022-10-06 10:46] marek-safar commented on #3058
/cc @sbomer

[2022-10-06 21:34] eerhardt opened #3061 "Address-taken methods should be considered reflection visible"
ASP.NET Minimal APIs use the parameter names of methods in order to match them with route parameters.

When trying to run an ASP.NET Minimal API app with `TrimMode=full`, you get an exception at runtime:

[code]

ASP.NET should set the switch `--keep-metadata parametername` in its SDK to prevent parameter names from being trimmed. However, there is no official supported way of doing it.

We should

[2022-10-06 21:55] MichalStrehovsky commented on #3061
Illink will only trim parameter names that are not obvious targets of reflection (and reserves the right to do more with such methods in the future - NativeAOT will in fact completely remove metadata from such method.)

How is ASP.NET obtaining the MethodInfo in the first place? It should be the case that one can only obtain such crippled `MethodInfo` though code that is generating a warning.

[2022-10-06 22:08] rodrigovaras opened #3064 "dotnet format command broke when IsTrimmable is enabled"
### Description

dotnet format fails to run on a project that has `IsTrimmable` enabled. (It also happens on projects that have PublishAot enabled that implicitly enables IsTrimmable.)

This is happening on .NET 7 RC :7.0.100-rc.1.22431.12

### Reproduction Steps

1. dotnet new console
2. add `<IsTrimmable>true</IsTrimmable>`
3. dotnet format

### Expected behavior

dotnet format runs fine

### Ac

[2022-10-06 23:59] eerhardt commented on #3061
By calling `Delegate.Method`:

https://github.com/dotnet/aspnetcore/blob/ce60f0d10c0adb79b2b824f5da05e41e1199f6cf/src/Http/Http.Extensions/src/RequestDelegateFactory.cs#L176

The Delegates are passed in to the Minimal API APIs: https://learn.microsoft.com/en-us/aspnet/core/fundamentals/minimal-apis?view=aspnetcore-6.0#route-parameters

[code]

[2022-10-07 01:04] MichalStrehovsky commented on #3061
It's this IL Linker bug then: https://github.com/dotnet/runtime/pull/70198#issuecomment-1145755049

We can use this issue to track fixing that. Exposing `--keep-metadata parametername` as a public switch should not be needed.

[2022-10-07 11:27] vitek-karas commented on #3058
Maybe we should warn when TrimMode is specified in a non-exe project file... Probably starting with .NET 8 to avoid breaking things.

[2022-10-07 19:23] steveisok opened #3062 "Bump NewtonSoft.Json deps in release/6.0 branch"
The release/6.0 branch is being flagged by CG needing to update our Newtonsoft.Json dependency.  It appears the Microsoft.NET.Test.Sdk, Microsoft.CodeAnalysis.CSharp.CodeFix.Testing.XUnit, and Microsoft.CodeAnalysis.CSharp.Analyzer.Testing.XUnit are the root dependencies pulling it in.

[2022-10-07 19:24] steveisok commented on #3062
/cc @marek-safar

[2022-10-08 19:55] perlun commented on #3058
@MichalStrehovsky Thanks a lot! :pray: You were absolutely right; the `<TrimMode>partial</TrimMode` was applied on the wrong project. For some reason, I got the impression that this setting should be applied on the `Perlang.Stdlib.csproj` project, since that was the assembly that got incorrectly trimmed...

Thanks for the helpful reference also. Would it make sense to mention on that page (https:/

[2022-10-09 01:04] jkotas commented on #3064
`dotnet format` loads `ILLink.CodeFix` and calls `Module.GetTypes` to find all possible code fixers. `dotnet-format` comes with 'Microsoft.CodeAnalysis.Workspaces 4.3.0.0`. `ILLink.CodeFix` depends on 'Microsoft.CodeAnalysis.Workspaces 4.4.0.0`. It results into the above exception to be thrown from `Module.GetTypes` call.

I assume that this version mismatch is fixed in the current .NET 7 build an

[2022-10-10 13:54] marek-safar commented on #3064
@tlakollo does this sound familiar ?

/cc @sbomer

[2022-10-10 15:15] marek-safar commented on #3062
@sbomer could you help with that?

[2022-10-10 19:44] jtschuster opened #3065 "Improve WellKnownType checking performance"
We could improve `IsTypeOf(WellKnownType)` and `GetWellKnownType` performance by caching the types in LinkContext and comparing MetadataToken for `IsTypeOf` instead of a string comparison on namespace and name.

[2022-10-10 20:12] jtschuster commented on #2978
If we want to set up our own pipeline to run perf tests on every commit, here are some examples / things to look at:

[runtime/microbenchmarks.proj at main · dotnet/runtime (github.com)](https://github.com/dotnet/runtime/blob/main/eng/testing/performance/microbenchmarks.proj) - This is what does the work to create the Helix Workitems to send to Helix for execution.
[runtime/performance-setup.ps1 a

[2022-10-10 20:18] jtschuster commented on #3029
Leaving a note for once this is finalized to check on the linker benchmark in dotnet/performance and make sure that the benchmark will still use the latest version of the linker.

[2022-10-11 02:46] AustinWise opened #3066 "Multiple RuntimeHostConfigurationOption for the same switch"
# Software Versions

I'm using .NET 7 RC1 on macOS ARM64.

# Overview

Let's use the switch `System.Threading.Thread.EnableAutoreleasePool` for an example.

In the [linker's Microsoft.NET.ILLink.targets file](https://github.com/dotnet/linker/blob/6000a84c7e0b3678af032c25b7319aefdd057f6c/src/ILLink.Tasks/build/Microsoft.NET.ILLink.targets#L42), it sets the property `AutoreleasePoolSupport` to true

[2022-10-11 02:50] AustinWise commented on #3066
I filed this in dotnet/linker, but maybe this is a dotnet/sdk problem?

[2022-10-11 08:28] marek-safar commented on #3066
@vitek-karas @sbomer what do you think?

[2022-10-11 20:59] jtschuster opened #3067 "High CPU time in ProcessVirtualMethods and IsMarked"
In ASP.Net Benchmarks, there is high CPU time in ProcessVirtualMethods, ProcessOverride, and LinkContext.IsMarked. The increase in build time began [here](https://github.com/dotnet/linker/compare/f09bacf09ef10b61cf9f19825f8782171a816dab...81ffbb5af38a45ff60648999df8f35a79061ae43) and went down slightly [here](https://github.com/dotnet/linker/compare/33c3b2c60d0a2006162a6326db853fe5415439bd...6252a

[2022-10-11 21:03] jtschuster commented on #3067
Trimmer trace: [Report20221011-1220.zip](https://github.com/dotnet/linker/files/9759726/Report20221011-1220.zip)

[2022-10-11 22:19] tlakollo opened #3068 "Deprecate the warning XmlDuplicatePreserveMember"
This warning is triggered when you preserve a member using a descriptor.xml file twice, meaning that in the case of linker you add a member to the annotation store, and the second time, we verify if the member is already in the cache and generate a warning about it. Given that there could be several descriptor.xml files playing at the same time if there is a member that is processed twice we would

[2022-10-13 15:50] jtschuster opened #3069 "Tracking values in MarkStep for processing later leads to poor performance"
https://github.com/dotnet/linker/issues/3067 lead to me discovering that we spend too much time in the linker repeating checks when the conditions may not have changed. For example, we track virtual methods in _virtual_methods and each iteration of the process pipeline, we check every override of every virtual method to see if something changed such that it should be marked.

We could modify the b

[2022-10-13 16:24] agocke opened #3070 "Allow users to mark their assemblies not-trimmable with <IsTrimmable>false</>"
If a customer ships a DLL they know isn't trimmable, this would provide a way for them to mark it as such.

[2022-10-13 16:54] agocke commented on #3070
Yeah, I think that's the right issue. I'll close this one.

[2022-10-13 16:54] #3070 closed

[2022-10-13 17:09] vitek-karas commented on #3069
Another option would be to do a somewhat bigger change (but ultimately very beneficial):
* Take a dependency on the "dependency analysis" framework from the R2R/NativeAOT compiler
* Replace all of the "delayed processing" in mark step with it (basically it's replaced with dependency nodes which have two or more dependants  - for example that's how the AOT compiler solves the virtual method problem

[2022-10-13 17:10] vitek-karas commented on #3069
That said if all we care about is some perf improvements, I agree that breaking the delayed storage in mark step into the right "groups" should fix most of the problem.

[2022-10-13 20:48] #2615 closed

[2022-10-14 16:41] sbomer opened #3071 "[cecil] Official build publishing failure"
The latest official [build](https://dev.azure.com/dnceng/internal/_build/results?buildId=2020486&view=logs&j=ba23343f-f710-5af9-782d-5bd26b102304&t=c7a8693b-2f9c-5ea8-c909-cde9405ac2e1&l=61)  failed to publish with:
[code]

Reading through https://github.com/dotnet/arcade/blob/main/Documentation/CorePackages/Publishing.md#how-to-upgrade-from-v2-to-v3, the only thing I noticed that looks like it's

[2022-10-14 18:15] #3071 closed, assigned to nobody

[2022-10-18 05:39] Saalvage opened #3072 "IL Trimmer: Unhandled exception. System.NotImplementedException: Unhandled intrinsic"
When trying to use [MoonSharp](https://www.nuget.org/packages/MoonSharp/) in a Blazor WASM app the following stack trace presents itself on attempted publishing:
[code]

If any further info is needed please ask!

[2022-10-18 07:58] marek-safar commented on #3072
What version are you using ?

/cc @vitek-karas

[2022-10-18 08:59] vitek-karas commented on #3072
I think this is 7.0, because I can't find code which would throw such exception in 6.

If you have a repro project, that would help a lot.

[2022-10-18 09:38] vitek-karas commented on #3072
I was able to repro this. The problem is with calls to methods like `TypeInfo.GetConstructors`. The `GetInstrinsicIsForMethod` operates on `MethodDefinition` which in this case points to `System.Type.GetConstructors` and it recognizes it as intrinsic (since we're look for `System.Type.GetConstructors`). But the switch in `ReflectionMethodBodyScanner` uses `MethodReference` and its `DeclaringType`

[2022-10-18 09:39] vitek-karas commented on #3072
@agocke @sbomer

For now I put this into 7.0 milestone - we might want to consider this for servicing? It's not a regression, but it this is encountered there's no good workaround.

[2022-10-19 01:48] tlakollo opened #3076 "Compiler injects RefSafetyRulesAttribute into assemblies"
Starting from RC2 compiler injects the attribute System.Runtime.CompilerServices.RefSafetyRulesAttribute to identify the language version. Since it's embedded into all modules the Kept logic will fail all tests that don't have the SkipKeptMemberAttribute on them, since it doesn't expect the RefSafetyRulesAttribute nor the associated types in the modules.
Related to https://github.com/dotnet/runtim

[2022-10-19 21:13] jtschuster opened #3078 "Improve testing related to tracer / dependency tracking"
As we create more tools for investigating size after trimming to answer "why is this kept/not kept," it's crucial to improve tracing / dependency tracking. Right now, we only have the most basic testing and there are lots of methods in MarkStep that start with `if (Annotations.IsMarked(thing)) return;` without tracking the dependency passed in. This early return helps performance of linking but wi

[2022-10-20 01:44] Saalvage commented on #3072
I'm sorry for failing to provide the version and a repro project originally but I'm glad that it's been figured out and had even already been fixed! :)
Regarding workarounds, I am looking into using a fork of MoonSharp anyways, which is why modifying it might not be a dealbreaker. If possible I'd appreciate a rough summary of what would have to be done to MoonSharp to remedy this, but of course I'

[2022-10-20 08:33] marek-safar commented on #3078
I did a version of this in #1228

[2022-10-21 19:21] vitek-karas commented on #3076
I've been looking into this as part of https://github.com/dotnet/linker/pull/3077
But I'm slow... maybe give me a couple more days - and I might be able to finish it.

I'm deciding if we should simply ignore these (the Kept validation logic already ignores a set of assembly-level attributes) and thus just extend this to the type definition as well, or if we should detect that it's in the input and

[2022-10-21 19:27] tlakollo commented on #3076
I created this dirty hack to get over it in one of my PR's in runtime, not sure if we want this
https://github.com/dotnet/runtime/pull/77149/commits/8c6a936a3a909d66cbc3437d34435b5b1a7dd677#diff-45dd6d8592d04a54955c62671ee19c45a463958d52ce5fb63fa519be0ae26508

[2022-10-24 15:35] kant2002 opened #3080 "Deduce closed generic type usages based GetGenericTypeDefinition/MakeGenericType"
How complicated would be to teach linker that `GetGenericTypeDefinition` produce generic type definition for well-known type, and that `MakeGenericType` produce well known specialized type.

[code]

and if complicated, why it's complicated?

[2022-10-24 16:13] marek-safar commented on #3080
Just to be sure we are on the same page, what is not working here?

[2022-10-24 16:18] vitek-karas commented on #3080
I assume the question is mostly related to AOT, right? Since the above will work just fine with trimming alone.

The `GetGenericTypeDefinition` would be pretty simple to implement - and there would be potential benefits even for trimming itself. (If the generic type parameter has annotation the subsequent `MakeGenericType` would know about it and could validate it avoiding warnings which are gener

[2022-10-24 16:31] kant2002 commented on #3080
Yes. That’s related to AOT, sorry for missing that, I understand that regular trimming unrelated. I will look for real world code. I actually come up with that pattern when try to create presentation about shortcomings of NativeAOT. I will look at EF Core and FSharp for similar patterns.

If that’s reasonably easy, I would like to implement this, since that allow me more confidently have a message

[2022-10-24 19:06] vitek-karas commented on #3080
If you want to give a try - definitely go for it. I'll try to help as much as I can.

[2022-10-24 21:29] MichalStrehovsky commented on #3080
I'd like to see the real-world use cases for this - suggestions for this kind of analysis do come up (https://github.com/dotnet/runtimelab/issues/1641), and it can be analyzed, but if all the type parameters are known, it can be rewritten to not use reflection at all (like in your example). That's a much better fix and less analyzer code to maintain.

[2022-10-25 03:45] markphillips100 opened #3083 "TrimMode partial very slow to link"
I've been using self-contained trimming to publish apps in linux docker images in .NET 6 for a little while now, and the link step usually takes about a minute or so.  There are references to my own libs and 3rd parties that don't publish themselves as trimmable, so as expected, I get a ton of warnings, and of course the code isn't trimmed being that this is all .NET 6.

Moving along to .NET 7 RC.

[2022-10-25 05:43] MichalStrehovsky commented on #2991
It would be good to have a motivating use case for this. I'm having a hard time coming up with an example of a scenario where library is reflecting on itself in an unpredictable way (the Azure issue doesn't seem to actually have one either).

The more typical scenario for trimming unfriendly code is libraries that reflect on code outside of their own assembly because they cannot reference it stati

[2022-10-25 07:34] marek-safar commented on #3083
/cc @sbomer

[2022-10-25 07:44] marek-safar commented on #2991
#3083 could be related

[2022-10-25 12:49] vitek-karas commented on #3083
@jtschuster for the perf question - I know that we fixed some perf issues recently, were the issues present in RC2? (and are we shipping the linker with them in 7.0 GA?)

[2022-10-25 12:54] vitek-karas commented on #3080
Thanks @MichalStrehovsky for pointing out that this would only work in very limited situations. Basically only if the types are statically known - in which case rewriting it without reflection is definitely the better approach. The only scenario which might be slightly useful and doesn't require statically known types is something like this:

[code]

It's questionable how much value there is in su

[2022-10-25 16:34] jtschuster commented on #3083
@vitek-karas The worst of the regression was fixed [here](https://github.com/dotnet/linker/pull/2976) and should be [included in RC1](https://github.com/dotnet/linker/issues/2975#issuecomment-1222399468), but there was still a net regression and the [fix](https://github.com/dotnet/linker/pull/3073) has yet to be merged in.

[2022-10-26 01:10] markphillips100 commented on #3083
@sbomer thanks for your suggestion.  I completely missed that in the docs and will give it a try (in a few days hopefully) as if that at least gets me a working "full" trim mode build for .NET 7 when released then happy to incorporate trimmable deps as and when they support it.

[2022-10-26 09:20] vitek-karas commented on #3083
@jtschuster could you please try to see if we can repro the perf regression as mentioned by @markphillips100 ? If it's that severe I think we should at least consider doing something about it for 7.0.

[2022-10-26 15:51] jtschuster commented on #3083
Sure, I'll take a look. @markphillips100 if you're able to share some of the 3rd party libraries you're using, that could help me reproduce the issue.

[2022-10-26 16:34] jtschuster commented on #3083
Compiler generated code analysis could also be causing a slowdown. @markphillips100 do you use yield return, local functions, and anonymous functions a lot throughout your codebase?

@sbomer are there any other bottlenecks related to compiler generated code I'm missing?

[2022-10-26 18:40] agocke commented on #3072
Yup, let's take this for servicing. Unfortunately our servicing schedule for 7.0 is going to be a bit late (month or two after shipping) but it's still better to have it fixed.

[2022-10-26 23:31] markphillips100 commented on #3083
@jtschuster I've used all 3 approaches in my libs that I reference, but not extensively. I can't speak for the 3rd party libs of course.

@sbomer Thanks for the heads up.  I'm guessing that by applying this trim disabling during full mode I just makes the process approach partial's behaviour and so would encounter the same issue.

I think I'll try and come up with a repro if I can, at least see if

[2022-10-27 20:23] vitek-karas opened #3087 "Branch removal can't remove all branches in compiler generated state machine"
Take for example this code:

[code]

The problem is that the compiler generated code produces the `if (AlwaysFalse)` where its body is just some state machine setup because there's a yield there. And so it means that even if that branch is removed, the call to `RemovedMethod` is still kept because it's part of a different state in the state machine.

[code]

In order to correctly implement this, t

[2022-10-27 20:42] jtschuster opened #3090 "Move all "Should method be marked in the current analysis state" logic to one place"
In https://github.com/dotnet/linker/pull/3073, we coalesced a lot of logic around "Should this method be marked because it's needed by a (non-interface) base method" into one method, and enumerated the state that influences if a method is marked (i.e. the method's type is marked, the method's type is instantiated, etc.) so that we can make sure the method is called whenever the relevant state chan

[2022-10-27 22:19] #3067 closed

[2022-10-27 22:19] #3069 closed

[2022-10-28 00:18] jtschuster commented on #3083
@markphillips100 One other thing that could help us narrow down the issue is if you try to use the latest linker build in your project. We just merged a couple of changes that improve performance, and if they fix the slowdown you're seeing, we could look into porting them back to .Net 7.

To do this, add a package reference to the latest linker build in your .csproj file:
[code]

Then, add a nuget

[2022-10-28 00:22] markphillips100 commented on #3083
@jtschuster that might be the quicker option to try.  I'll hopefully get to it later today or at least over the weekend.

[2022-10-30 01:17] markphillips100 commented on #3083
@jtschuster I tried the dotnet8 linker with partial trim mode setting and I think we have some success.

I thought code was still trimmed but turns out AutoMapper does some private reflection in the version I use and this causes an issue with Enumerable.MaxFloat in dotnet7.  So not related to trimming I believe.  I was able to comment the code registering AutoMapper to continue the test.

Automapp

[2022-10-30 01:25] markphillips100 commented on #3083
Just for time comparison completeness, full trim mode links in approximately 10 seconds. My app breaks due to warnings trimmed of course, as expected which is fine.

[2022-10-31 08:30] marek-safar commented on #3083
Hmm, I think 1 minute is still way too long.

[2022-10-31 08:55] markphillips100 commented on #3083
I'm running on an i7-8700k (not overclocked) just for added perspective. I did have "normal" msbuild logging too so will switch to minimal logging and try again tmrw in case that makes some difference.

[2022-10-31 17:06] jtschuster commented on #3083
@markphillips100 Thanks for testing that for us, it's good to hear it's back to around .net6 speeds.

@vitek-karas I've ported the virtual method marking change back to the release branch (https://github.com/dotnet/linker/pull/3094). That should have the biggest impact, but the ExportedType caching had a significant improvement as well (https://github.com/dotnet/linker/pull/3075) and is a simple e

[2022-10-31 19:50] vitek-karas commented on #3083
I think we should base this on data. Ideally we would have some measurements of:
* How long it took to trim a given app in .NET 6 (using the default settings - to partial trimming)
* How long does it take to trim the same app in .NET 7 using compatible settings (so partial trimming)
* How much each of the two changes helps in the above case
* And maybe additionally, how long does it to take to tri

[2022-11-01 08:11] vitek-karas commented on #3078
I don't think linker should be the one to reason about what dependency is important - it doesn't know... and doesn't care.
The tool should simply dump all dependencies it knows about. The consumers of the output should then apply whatever logic makes sense to turn it into usable data shape.

We need the system to be:
* Almost nonexistent if tracing is turned off (vast majority of linker runs will

[2022-11-01 09:52] marek-safar commented on #3087
I think it might not complicate to implement for C# state machine because compiler usually assign the field in single method body only.

Did you find that in some real code somewhere?

[2022-11-01 10:02] vitek-karas commented on #3087
I didn't run into this in real code yet. But it's effectively hidden behind https://github.com/dotnet/linker/pull/3088.
I agree that if we special case this for C# state machines this is definitely solvable.

[2022-11-01 18:15] jtschuster opened #3097 "Sweep base methods if not required"
The linker marks all base methods of any marked method, even if it's not strictly required.

For example, in Inheritance.VirtualMethods.VirtualMethodGetsStrippedIfImplementingMethodGetsInvokedDirectly.cs:
[code]

We know that Foo is only called on A, so we could be able to remove B.Foo() and make A.Foo not virtual.

Similarly, we could remove all of B if we sweep unused base types.

[2022-11-01 20:04] agocke commented on #3078
That makes sense to me as a design goal, but if the system currently produces information that's good enough I'm not particularly inclined to improve it until we have a specific request to do so.

[2022-11-01 21:15] vitek-karas commented on #3097
This might be tricky due to how compilers generate calls. In the above the call `new A().Foo()` is likely going to be translated as `callvirt B.Foo` - since compilers generates call to the base method whenever possible. The only place where that's not the case if there's return value covariance I think.

We could rewrite the callsite as well, but it makes this more complicated.

[2022-11-02 01:14] MichalStrehovsky commented on #3078
This is how tracing in ILCompiler.DependencyAnalysisFramework is implemented e.g. here's the first edge logging strategy: https://github.com/dotnet/runtime/blob/82aa87f9cdf9ac20f0f685016648c36247a76ff1/src/coreclr/tools/aot/ILCompiler.DependencyAnalysisFramework/FirstMarkLogStrategy.cs and here's a no-op logging strategy: https://github.com/dotnet/runtime/blob/82aa87f9cdf9ac20f0f685016648c36247a76

[2022-11-03 19:23] jtschuster commented on #3083
Profiling the linker locally with VS on a hello world console app, I got the following results:

| release/6.0.x | release/7.0 | https://github.com/dotnet/linker/pull/3094 |
| -- | -- | -- |
| 2846 cpu ms  | 5088 cpu ms | 3528 cpu ms |

https://github.com/dotnet/linker/pull/3094 takes 69% as long as release/7.0, a 1.45x speedup

This is probably where we would see the least improvement, since the

[2022-11-04 10:39] vitek-karas commented on #3083
Another thing we can try to measure is the sfx project in runtime repo. It is not a good benchmark for trimming per se (as it removes very little), but it's a good benchmark for analysis, since it runs through all of BCL's code. And its setup should be nearly identical between 6 and 7.

[2022-11-08 22:41] sbomer opened #3104 "Analysis hole when reflecting over cctors"
[code]

This produces no warnings, but allows the use of reflection to execute RUC code. It looks like this is because we don't treat cctors in a RUC type as requiring unreferenced code here:
https://github.com/dotnet/linker/blame/main/src/linker/Linker/Annotations.cs#L657-L663

[2022-11-09 13:49] #2888 closed, assigned to nobody

[2022-11-09 13:54] mikes-gh opened #3105 "Getting to the Subclass of a MemberExpression using Type is not trim compatible"
Consider the following code with an inherited model that I want to retrieve an attribute from.
The result should be "Bar".  Note the attribute we want to get is on derived class.

Just accessing memberExpression.Member won't work as that returns the base class (as per the IL)
I have to use Type property to get to the derived class.

However

[code]
gives me a trim warning I cant seem to resolve.

[2022-11-09 16:00] vitek-karas commented on #3105
I can't really think of a way to make this trim compatible as designed above.

I find this code weird to be honest. Is it intentional that if I only change it slightly it will print out Foo:
[code]

The only feature I can remotely think of as being useful here is to annotate the base type of the model with `DynamicallyAccessedMemberTypes(PublicProperties)` and then look at the actual instance the

[2022-11-09 16:48] mikes-gh commented on #3105
cc @henon @ScarletKuro

[2022-11-09 17:10] vitek-karas commented on #3104
Good catch - I think the problem is a bit more subtle.
We don't want to treat .cctor as having RUC when they're called directly from IL (is that's even doable to be honest) - the reason is that it's unreliable - we will never detect all call sites like that, so we don't do it at all. Instead we rely on the fact that access any static member or .ctor will trigger the cctor anyway in the runtime, so

[2022-11-09 17:54] MackinnonBuck opened #3106 "AD0001: Analyzer 'ILLink.RoslynAnalyzer.DynamicallyAccessedMembersAnalyzer' threw an exception of type 'System.InvalidCastException'"
### Describe the bug

Annotating a parameter on a local function with `[DynamicallyAccessedMembers]` causes `ILLink.RoslynAnalyzer.DynamicallyAccessedMembersAnalyzer` to throw the following exception:

[code]

This was observed in https://github.com/dotnet/aspnetcore/pull/44925. The culprit was [this line](https://github.com/dotnet/aspnetcore/blob/45a75ad446294116024e640bb7efabfcfe2ac210/src/Compo

[2022-11-10 08:45] JamesNK commented on #3106
FYI this issue impacts the dotnet/aspnetcore repository and blocks us from updating the SDK. It's not urgent to update the SDK, but prompt progress would be appreciated.

[2022-11-10 22:30] jtschuster commented on #3106
The fix is checked in and flowing to sdk in https://github.com/dotnet/sdk/pull/29013

[2022-11-11 09:34] nheath99 commented on #3072
I just upgraded from .net6 to 7 and dotnet publish is now throwing this error. This is a Blazor WASM hosted project. Could it be one of the nuget packages I'm referencing? If so how could I tell?

[2022-11-11 11:44] nheath99 commented on #3072
Ok so it turns out I was using a deprecated nuget package: Microsoft.Azure.Cosmos.Table
Replacing this with the suggested Azure.Data.Tables resolved this issue for me.

[2022-11-11 13:18] vitek-karas commented on #3072
@nheath99 - as far as I can tell the only way to repro this is if your app uses a component which was built against netstandard1.2 (I think, not sure about the exact version - but something old, netstandard2.0 doesn't have this problem) and uses one of the reflection methods mentioned above. So updating to a newer package is likely to fix the problem - in fact even the exact same code if rebuilt a

[2022-11-11 17:07] javiercn opened #3110 "Linker regression in 7.0 (wasm)"
On a Blazor webassembly app with authentication, the linker in 7.0 seems to be incorrectly trimming the getters of an object that we json serialize. This is the linked output in 7.0
![](https://user-images.githubusercontent.com/6995051/201389145-7badc5f6-825c-4ad8-b816-e5b7c393159c.png)

This is the linked output in 6.0
![](https://user-images.githubusercontent.com/6995051/201389153-05bd8006-0110-

[2022-11-11 17:35] ScarletKuro commented on #3105
Isn't this warring mainly because Expression.Type(https://github.com/dotnet/runtime/blob/215b39abf947da7a40b0cb137eab4bceb24ad3e3/src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Expression.cs#L97) missing annotation?

[code]
But the code should be safe and not be trimmed because the SomeModel and Foo property is used.

[2022-11-11 17:49] vitek-karas commented on #3105
Technically yes, but what should the annotation be. For each instance it would need to be different based on what the needs are and what the type used can actually provide. Which is exactly what trimming does for `System.Type` instances (it tracks and flows annotations). To solve this problem, the trimming would have to start treating `Expression` values as interesting and flow annotations on them

[2022-11-11 18:17] ScarletKuro commented on #3105
True, if you use more reflection it will not work. But was a reply to @mikes-gh and that in case of MudBlazor there is nothing to worry about because the model is always instantiated(code [example](https://github.com/MudBlazor/MudBlazor/blob/master/src/MudBlazor.Docs/Pages/Components/Form/Examples/LabelAttributeExample.razor)) and properties are explicitly used.

[2022-11-11 23:04] jkoritzinsky opened #3111 "Trimmer-safety analyzer misses RUC members on base types kept through DAM attributes"
Given the following code, the trimmer will issue a warning at trim time, but the Roslyn analyzer won't warn.

[code]

We traced this down to the behavior in Roslyn around "unbound constructed generic types", or more specifically `Bar<>`, as compared to `Bar<T>`. `Bar<T>` is the original definition and has full fidelity in the Roslyn type system. However, `Bar<>` is considered an "unbound construct

[2022-11-12 01:02] mikes-gh commented on #3105
OK I have one more question because my understanding is instantiation is not enough to guarantee reflection on a type?

A clarification would really help me 🙏

My basis for understanding is taken from here.
https://learn.microsoft.com/en-us/dotnet/core/deploying/trimming/prepare-libraries-for-trimming?source=recommendations#unconditionalsuppressmessage
[code]

[2022-11-12 08:43] vitek-karas commented on #3105
@mikes-gh Yes that's correct. For example in NativeAOT the compiler will only store metadata for things it recognized as accessed through reflection as the runtime itself doesn't need the metadata for anything. So if the property is used by the code but it's not seen as used by the reflection its metadata will be removed. This actually saves quite a bit of size.

IL trimming currently doesn't do t

[2022-11-12 08:56] mikes-gh commented on #3105
Thanks @vitek-karas that really helped me.  I keep hearing justification for ignoring trim warnings is that the type is used in the app so it wont be trimmed for relflection.  I now know that this is not a good stratergy for the future (or present for aot).  So trying to annotate correctly with DynamicallyAccessedMembers now is important. In terms of IL trimming of metadata is that planned for net

[2022-11-12 09:07] vitek-karas commented on #3105
The "App won't be trimmed" is actually not true in .NET 7 for console apps anymore. We changed the default to `TrimMode=full` which will trim everything - this applies to both IL trimming and NativeAOT. It is still true for other scenarios like Blazor, MAUI, ...

Re trimming metadata in IL trimming - currently there are no concrete plans, but it's basically the next big thing we can do in the trim

[2022-11-14 00:29] MichalStrehovsky commented on #3105
It already does with IL trimming in some cases:

[code]

This will print 0 1 1 in .NET 6, but 0 0 1 in .NET 7.

[2022-11-14 07:12] evgenyvalavin opened #3112 "IL1012: Fatal error in IL Linker: IsMethodNeededByInstantiatedTypeDueToPreservedScope(...) throws InvalidOperationException()"
ILLink : error IL1012: IL Trimmer has encountered an unexpected error. Please report the issue at https://github.com/dotnet/linker/issues [C:\agent\_work\22\s\***\Android-NET_7.csproj]
  Fatal error in IL Linker
  Unhandled exception. System.InvalidOperationException: Collection was modified; enumeration operation may not execute.
     at Mono.Linker.Steps.MarkStep.IsMethodNeededByInstantiatedType

[2022-11-14 09:01] marek-safar commented on #3112
Do you have sample we could use to reproduce it?

/cc @vitek-karas

[2022-11-14 09:02] vitek-karas commented on #3112
/cc @jtschuster

[2022-11-14 09:05] vitek-karas commented on #3111
Do you know if there are ways to solve this in the analyzer? The docs simply say that `BaseType` is unavailable on such symbol - but doesn't say what to do about it :-(.

[2022-11-14 10:48] evgenyvalavin commented on #3112
[Linker_Sample.zip](https://github.com/dotnet/linker/files/10002183/Linker_Sample.zip)

Build in Release configuration to reproduce the error

@marek-safar @jtschuster

[2022-11-14 12:35] vitek-karas commented on #3112
@sbomer for the marking and delay marking logic from custom steps. The assert is happening because the custom step calls AddPreservedMethod twice for the exact same thing:
Type: `Com.Airbnb.Lottie.ICancellableInvoker`
Method: `System.Void Com.Airbnb.Lottie.ICancellableInvoker::.ctor(System.IntPtr,Android.Runtime.JniHandleOwnership)`

But first time the type is not marked yet, while second time it

[2022-11-14 12:40] evgenyvalavin commented on #3112
There was no issue with linker on .NET 6 btw

[2022-11-14 12:53] vitek-karas commented on #3112
The 7.0 failure seems to be a different issue. Debug build of 7.0 fails on the same assert as 8.0, but the failure in Release happens much later on. Also on a completely different method.

It fails when it's doing `IsMethodNeededByInstantiatedTypeDueToPreservedScope` for method `System.Boolean Android.Views.View::get_HasNestedScrollingParent()`.

The problem is that `IsMethodNeededByInstantiatedTy

[2022-11-14 12:56] vitek-karas commented on #3112
In 8.0 this code looks somewhat different and there's only `IsMethodNeededByTypeDueToPreservedScope` - but it calls itself recursively. In theory the same problem can probably occur in 8.0 as well. I didn't dig into the details on 8.0 to see if this can really happen or if it won't in reality due to the methods/types involved.

Definitely worth looking into even in 8.0 to make sure this is not a p

[2022-11-14 12:59] vitek-karas commented on #3112
In theory it might be possible to work around this by introducing fake references to specific things earlier on to change the order in which linker processes methods and thus avoiding the case described above. So far I wasn't able to figure out exactly what to do to make that happen though.

[2022-11-14 17:01] vitek-karas opened #3114 "Support different name for the XML root element"
Currently the root element for the various XMLs (descriptor, attributes, substitutions) is called `linker` - which is confusing. The tool is called `ILLinker` and the verb we use to describe the process is "trimming". We're trying to avoid "linking" everywhere to not create confusion with platform linker.

We can't remove support for the `linker` element, too much backward compat, but we can easil

[2022-11-14 17:54] vitek-karas commented on #3112
These are my notes from the debugging session (already forgot the details :wink:)

First call

ProcessMethod - {System.Boolean MvvmCross.DroidX.RecyclerView.MvxGuardedGridLayoutManager::SupportsPredictiveItemAnimations()}

Leads to AnnotationStore.GetBaseMethods for that method

Which goes into TypeMapInfo EnsureProcessed for {Xamarin.AndroidX.RecyclerView, Version=1.0.0.0, Culture=neutral, Public

[2022-11-14 18:12] jtschuster opened #3115 "Debug.Assert (GetPreservedMethods (definition) == null) sometimes fails"
From https://github.com/dotnet/linker/issues/3112#issuecomment-1313617781

This fails with 7.0 linker, but works with Release build of main (8.0 linker).
With Debug build of 8.0 linker this asserts here https://github.com/dotnet/linker/blob/9c993bf401377209cd7b4e84b60deab5e4f421a2/src/linker/Linker/Annotations.cs#L506
with callstack:

 	illink.dll!Mono.Linker.AnnotationStore.AddPreservedMethod(Mon

[2022-11-14 18:12] jtschuster commented on #3115
@sbomer Could you look at this part of #3112?

[2022-11-14 19:42] jkoritzinsky commented on #3111
The idea from @agocke would be to have something like the following:

[code]

[2022-11-15 00:28] MichalStrehovsky commented on #3114
We could go with something more descriptive, such as using `descriptor` for the descriptor format. AFAIK we don't document the substitution or attribute format on docs.microsoft.com and those are therefore unsupported.

But it feels like it's just putting lipstick on a pig: having a sidecar XML is a terrible experience to begin with, and then one gets hit by type name syntax that doesn't match any

[2022-11-15 18:01] marek-safar commented on #3114
We cannot declare these file formats for backward compatibility as we have no replacement for many features used there. `DynamicDependency` covers only a narrow scenario with limits. My preference would be to change it to `trimming` because XML information is used only when trimming is enabled and that runs as part of 4 or so tools already (none of them is called trimmer).

[2022-11-15 20:23] nbevans opened #3118 "IL2121 being added needlessly to NoWarn and causing compiler errors on older netfx projects"
... because older compilers don't understand a NoWarn of "IL2121" e.g. older F# and WebSharper projects.

The workaround is to add to your project MSBuild file:

[code]

But really this NoWarn modification shouldn't be happening at all on projects that aren't using the Linker:

<img width="757" alt="image" src="https://user-images.githubusercontent.com/542188/202017844-4f959e3d-7eb5-451d-8ccf-be9c

[2022-11-15 22:10] CliveBennett opened #3119 "NETSDK1144: Optimizing assemblies for size failed"
I have upgraded a Blazor client app from .net  6 to .net 7
and I'm getting this while building a container image

Error NETSDK1144: Optimizing assemblies for size failed. Optimization can be disabled by setting the PublishTrimmed property to false.

I am using this in my DockerFile
FROM mcr.microsoft.com/dotnet/sdk:7.0 AS base

Adding
PublishTrimmed false PublishTrimmed

to the blazor client proje

[2022-11-16 00:32] jtschuster commented on #3112
I've reproduced the issue, and the scenario looks like this:

Types;
Base type B has method M.
Derived type D1 derives from B, and implements interface I1 with methods from B.
Derived type D2 derives from B, and implements interface I2 with methods from B.

Assembly A1 has B.
Assembly A2 has D1.
Assembly A3 has I1 and D2.
I2 can be in any assembly.

In the trimmer:
D1 is marked instantiated.
-> B

[2022-11-16 01:09] MichalStrehovsky commented on #3114
Yep, that's what I meant with "Point everyone to `DynamicDependency` for later .NET and use that to identify any other gaps we need to address.".

The XMLs pre-date a lot of the other trimming work we did (dataflow, `DynamicDependency`). We would not pull the support, just stop advertising it and see if there's scenarios we don't cover. Maybe we don't need to be able to replicate every single thin

[2022-11-16 08:47] marek-safar commented on #3119
Could you share any details (e.g. stack trace) of what failed?

[2022-11-16 08:52] marek-safar commented on #3118
This looks like SDK integration issues.

/cc @sbomer

[2022-11-16 09:34] vitek-karas commented on #3112
So if I read this right, we can't know the answer to `IsMethodNeededByInstantiatedTypeDueToPreservedScope` before we process the entire app... so another example of the "we need to delay processing of this". I really wish we had the dependency analysis from AOT instead...

I think the next thing to figure out is if we can fix this by accepting the fact that we don't know everything at that point -

[2022-11-16 11:14] vitek-karas opened #3121 "Analyzer produces duplicate IL2092 for default interface method"
[code]

This is because the analyzer uses symbol action (so called for every symbol). In this case it's called for `ImplDerivedWithDefault` and then for `IDerivedWithDefault` and both return the `DefaultMethod` override pair (the exact same pair) from their call to `GetMemberInterfaceImplementationPairs`.

[2022-11-16 11:14] vitek-karas commented on #3121
Probably low priority - it's just a bit of noise and in a very rare scenario.

[2022-11-16 17:59] jtschuster commented on #3112
Since we keep a list of the types with interfaces and process them until we reach a steady state, we should be okay doing that. However, it looks like we don't take into account situations where a base type provides the interface method, so we'll need to add some code to handle that case in `ProcessMarkedTypesWithInterfaces`. We only have pretty basic tests for that case.

Another thing we could t

[2022-11-16 19:09] CliveBennett commented on #3119
Hi, I cant see any stack trace I just get that error when doing a docker-compose --build
this seems to be as much as I can see

#14 102.2 /usr/share/dotnet/sdk/7.0.100/Sdks/Microsoft.NET.ILLink.Tasks/build/Microsoft.NET.ILLink.targets(133,5): error MSB6006: "dotnet" exited with code 137. [/src/Client/iUWWorkbench.Client.csproj]
#14 102.2 /usr/share/dotnet/sdk/7.0.100/Sdks/Microsoft.NET.ILLink.Task

[2022-11-16 23:27] CliveBennett commented on #3119
Excellent, that's exactly what it was thanks, I bumped the memory in docker and it builds now with PublishTrimmed on

[2022-11-17 08:42] marek-safar commented on #3119
@CliveBennett out of curiosity, what was the limit before?

[2022-11-17 13:39] jeromelaban commented on #3112
I'm also experiencing this issue, but in relation with changes to a net6.0-android library building on 7.0.100 SDK. I'm getting this issue now because I'm adding some internal methods/properties to an android bindings assembly.

[2022-11-17 17:38] #3104 closed, assigned to sbomer

[2022-11-17 18:11] CliveBennett commented on #3119
I went from 2GB to 6GB,  (I have 4 .net 6 apps and 2 MySQL db's applications running in Docker).

[2022-11-18 04:00] MichalStrehovsky commented on #1541
I just directed someone to replace RD.XML with TrimmerRootAssembly and it didn't work because the assembly happened to be the entrypoint assembly and we don't actually root it because of this issue.

It would be good to fix this in 8. I think this became a bigger problem now that we trim everything by default and people might have actual need to root their entrypoint.

[2022-11-20 10:03] pekspro opened #3126 "Out of memory on Github Actions when publishing an application for Android with trimming enabled"
If I’m trying to publish a .NET 7 MAUI application, targeting Android, with trimming enabled on GitHub actions, it runs out of memory:

[code]

I’m using the default Windows runner that has 7 GB of memory:
https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners

With trimming disabled, it works fine. I could publish with trimming enabled on my local computer that

[2022-11-20 15:38] jmalczak commented on #3119
I have the same issue when building xamarin android app using .net7. It works fine when build using .net6. Issue exists only in Release mode with linker configured to link sdk assemblies only.

[code]

I have attached 2 solutions, one with .net6 global.json compiles. The one with .net7 global.json fails on the error above.

[Example.zip](https://github.com/dotnet/linker/files/10050061/Example.zip)

[2022-11-21 08:21] marek-safar commented on #3126
Looks similar to #3119 thought 7GB is a lot.

/cc @vitek-karas

[2022-11-21 08:26] marek-safar commented on #3119
@jmalczak I think your issue is different, the original issue reported here is about OOM situation. Your issue looks like duplicate of #3112.

[2022-11-21 17:09] akoeplinger commented on #3126
Might be worth trying to pass `/maxcpucount:1` to dotnet build as a workaround to make sure it only tries to trim one app at a time.

[2022-11-21 17:30] pekspro commented on #3126
Thanks @akoeplinger, that is an interesting idea. I'm trying that right now.

[2022-11-21 20:08] pekspro commented on #3126
`/maxcpucount:1` didn't help. It run for about 90 minutes and then it run out of memory.

[2022-11-21 20:26] vitek-karas commented on #3126
If it ran for 90 minutes "in the linker" (or anywhere in msbuild) then this is definitely a bug. I'll look into this tomorrow (sorry, too late today).

[2022-11-22 13:51] hez2010 opened #3129 "ILLink : error IL1012: IL Trimmer has encountered an unexpected error"
[code]

Repro steps:

1. ```
   git clone --recursive https://github.com/AvaloniaUI/Avalonia
   cd samples/ControlCatalog.NetCore
[code]

[2022-11-22 15:22] marek-safar commented on #3126
That's still quite a lot, any pointers into what is taking that much?

[2022-11-22 15:49] vitek-karas commented on #3129
@marek-safar thanks for throwing me under the bus ;-)

[2022-11-22 15:51] vitek-karas commented on #3126
I havened looked at the memory consumption details. I'll leave that to @jtschuster (I'll send you the simple repro offline).

[2022-11-22 18:19] agocke commented on #3110
Closing as it looks like this might not be a bug. If we get more info then we can re-open.

[2022-11-23 07:36] kant2002 opened #3130 "Runtime build on Loongarch failed"
I disable building Crossgen in the runtime repo and try to build on Loongarch and this is what issue I'm having

[code]

Any ideas?

/cc @shushanhf

[2022-11-23 09:18] kant2002 commented on #3130
Most likely not importantn, but command line is following
[code]

[2022-11-23 13:09] vitek-karas commented on #3130
No immediate ideas - unfortunately the method `BuildTypeAnnotations` is rather large so it's hard to even guess where in the method the problem is.

Few questions:
* Does it repro?
* I assume (based on your description) this happens when trying to build running on the loongarch hardware, so it's going to be hard for me to repro it
* I assume this happens during build of the runtime repo - could yo

[2022-11-23 14:54] kant2002 commented on #3130
questions:
- it repro consistently on Loongarch cloud instance
- yes, that happens on Loongarch hardware. Technically maybe this is related to some obscure JIT bug(who knows)
- Yes. I'm building runtime repo, almost pristine, except I disable building crossgen2 (probably unrelated)

illinkrepo produce issues
[code]

I do have .NET SDK in the `~/runtime/.dotnet/` folder, but seems to be I'm stuck w

[2022-11-23 15:05] vitek-karas commented on #3130
The repro tool by default builds as single-file - just disable that in the project file. It should build then (no need for runtime packs).

[2022-11-23 15:47] kant2002 commented on #3130
I run repro with following command on Loongarch hardware using illink.dll which is build there
[code]
and issue does not repro. any ideas?

[2022-11-23 16:04] akoeplinger commented on #3130
The linker bump is currently in a PR in https://github.com/dotnet/runtime/pull/78020

[2022-11-23 19:25] marek-safar commented on #3129
Cross linking to original issue https://github.com/AvaloniaUI/Avalonia/issues/9127#issuecomment-1325314669

[2022-11-23 19:41] vitek-karas commented on #3129
I'm pretty sure this is a corruption in the pdb file.
The reason why this fails is that at one point it reads really large number (like 2^30) from the sequence points stream - and that leads to all kinds of weird things.

I tried to run it through a completely different tool [Pdb2Pdb](https://github.com/dotnet/symreader-converter/blob/main/src/Pdb2Pdb/Pdb2Pdb.cs) and that one also fails saying "In

[2022-11-23 21:42] MichalStrehovsky commented on #3129
FWIW, we have code in the NativeAOT compiler to catch situations like this: https://github.com/dotnet/runtime/blob/9cafe8f23295b5c7f4718eaaebee6dddc2e7dda6/src/coreclr/tools/aot/ILCompiler.RyuJit/Compiler/DependencyAnalysis/MethodCodeNode.cs#L263-L269

(The referenced Roslyn bug has existed for years so there are libraries in the wild produced by Roslyn that run into this.)

The `"Invalid compress

[2022-11-24 04:48] hez2010 commented on #3129
Avalonia uses Mono.Cecil to emit IL code (compiled XAML) to the built assembly.

[2022-11-24 16:44] vitek-karas opened #3133 "Possibly detect calls which are not virtual and avoid related virtual method checks"
In some cases it's clear from the code that a call to a virtual method is actually not virtual. For example if the method implements an interface but there are no calls to the method through the interface. Similarly for static abstract methods where calling the base can never happen. Same situation happens if the implementation method is called through reflection.

In such cases it is correct to a

[2022-11-24 19:38] vitek-karas commented on #3129
I tried, but I can't get it to work such that I can debug that task. Can somebody with some experience in it please advice how to setup the build locally so that I can get the task which writes the IL code (compiled XAML) under the debugger?
 I got as far as:
[code]

But under the debugger this does basically nothing because it doesn't find any XAML resources to process. Which is weird, since the

[2022-11-26 06:00] hez2010 commented on #3129
The task is located here: src/Avalonia.Build.Tasks

[2022-11-26 22:48] maxkatz6 commented on #3129
@vitek-karas hi! Just noticed this issue, and I think I can help here.
TL;DR: this issue was fixed on the Avalonia side. But if you are interested in what exactly happened, I will leave details below.

Avalonia indeed has a XAML compiler which transforms XML files and then generates IL code in the same assembly with help of Mono.Cecil. It also [injects debug information](https://github.com/kekekek

[2022-11-26 22:50] maxkatz6 commented on #3129
I suppose your fix in the Cecil, https://github.com/jbevain/cecil/pull/867, could help with our IL-rewriting code. But we use stable nuget version, which is quite out of date.
Also, our current solution by avoiding IL rewriting at all is more flexible and preferable in the end.

[2022-11-26 22:51] maxkatz6 commented on #3129
If you have any questions or need help with our code, please ask.

[2022-11-28 14:22] vitek-karas commented on #3129
Thanks a lot for the explanation - and for the offer.

Closing this issue as resolve.

[2022-11-28 14:22] #3129 closed

[2022-11-28 17:50] jtschuster commented on #3126
It looks like Cecil Instructions, the MarkStep._methods queue, and ParameterDefinitions take up the most space in our heap.
Interestingly, there's almost double the number of ParameterDefinitionCollections as MethodDefinition.

Type | Size (mb)
----- | -------
Instructions | 300
_methods (Queue<ValueTuple<MethodDefinition, DependencyInfo, MessageOrigin>>) | 110
ParameterDefinition | 100
MethodDefi

[2022-11-28 17:54] jtschuster opened #3137 "Move CheckProcessed filter from ProcessMethod to MarkMethod to avoid adding to _methods queue"
In ProcessMethod, we check for CheckProcessed and exit early if it returns true. We can move that check to MarkMethod and only add the method to the _methods queue if it hasn't already been processed. This will keep _methods from having unnecessary entries. Since the MarkStep._methods field is a very large object, it would be helpful to limit its size when possible.

[2022-11-28 17:58] jtschuster opened #3138 "Investigate why there are twice as many ParameterDefinitionCollections as MethodDefinition on the heap"
When profiling the memory usage for https://github.com/dotnet/linker/issues/3126, I found there are about twice as many instances of ParameterDefinitionCollection as MethodDefinition, which doesn't seem to make sense if a MethodDefinition should have a single ParameterDefinitionCollection. They are taking a significant amount of memory in the heap, so it would be beneficial to be able to remove an

[2022-11-28 19:16] sbomer opened #3140 "Analysis hole: attributes on instance methods in RUC types"
RUC on type silences warnings from instance methods, but those instance methods may have attributes that should produce warnings. We incorrectly treat RUC on type as suppressing those warnings, even though reflection access to those methods can call the attribute ctor at runtime. Example:

[code]

[2022-11-28 19:17] jtschuster commented on #3106
Closing since it looks like there's a separate issue holding up the ASP.Net PR

[2022-11-28 19:17] #3106 closed

[2022-11-28 19:35] jtschuster commented on #3138
MethodReference's also have ParameterDefinitionCollection's, forgot about that...

[2022-11-28 19:35] #3138 closed

[2022-11-29 02:23] MichalStrehovsky commented on #3140
In similar spirit, this one won't warn either. Maybe the problem is that we don't warn that the method is reflection-accessed?

[code]

[2022-11-29 09:56] marek-safar commented on #3126
It could be also useful to check if we could "free" some memory earlier.

[2022-11-29 10:32] vitek-karas commented on #3126
Another idea is to process the methods in different order. If you imagine how typical programs work:
* You start at Main
* This calls couple of other high-level methods
* Which call another set of slightly lower-level methods
* And so on, until it reaches the low-level methods

Each level is bigger in size (number of different methods) than the one above it, so it looks like a tree. There will be

[2022-11-29 10:35] vitek-karas commented on #3126
Another thing to check would be if we keep `MarkStep` around after it's done. In theory the driver should free steps which are processed, but it's a complex system, so hard to tell.

[2022-11-29 17:00] #3137 closed

[2022-11-29 17:49] vitek-karas commented on #3090
Honestly this might be the time to bite the bullet and start using the dependency analysis from ilc/r2r. Lot of the problems we faced in this code recently are because:
* It's hard to understand since the code is not structured by "logical rules", but rather "implementation rules". There are relatively simple rules what to keep - for example "If the base method is marked, and the override's type i

[2022-11-29 18:10] jtschuster commented on #3090
I feel the same way, I think we've reached a point where performance and maintainability has become an issue that is impacting customers, and the dependency analysis seems like the best solution.

[2022-11-29 19:27] vitek-karas commented on #3090
There are two ways to go about this:
* Start with dependency analysis library (just the basic logic, nothing from NativeAOT itself) and slowly start to use it for things we use delayed processing for - basically use it only for conditional nodes and start with only one such type. It still requires wiring it with Annotations, but it would allow us to keep MarkStep more or less as-is. This was my su

[2022-11-30 06:01] MichalStrehovsky commented on #3140
One can also do the same with an IL `call` instruction. We just rely on the fact that C# mandates calling instance method with a null this throw NRE and Roslyn therefore uses `callvirt` for all instance method calls where it cannot prove they're not null.

(Note that calling instance method with a null this has issues and people should only do it as a party trick, if that's the kind of parties the

[2022-11-30 17:49] jtschuster commented on #3090
I'm leaning towards the first option as well. I think regardless we'll probably have a period where we're using the dependency analysis framework for part of the code and not for another part. I'm not very familiar with the framework, but it seems like we might be able to transition isolated analysis pieces one at a time (like the interface overrides), without it being too awkward. I also worry we

[2022-11-30 21:02] jtschuster commented on #3126
Unfortunately, with #3139, _methods is about the same size as a queue or stack in the repro for this issue (~14mb).